.custom-toast-message {
    font-size: 10px;
}

.Toastify__toast--error {
    font-size: 13px;
}

.Toastify__toast--success {
    font-size: 13px;
}

.Toastify__toast--info {
    font-size: 13px;
}

.breadcrumbs {
    width: 100%;
    min-height: 40px;
    border-radius: 8px;
    display: flex;
    padding: 30px 10px 0px;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-details {
    font-size: 14px;
    color: white;
    margin-top: 20px;
    text-align: justify;
}

.footer .link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    width: 100%;
    display: block;
    margin: 14px 0;
}

.main_area {
    margin-top: 140px;
    background-color: #FAFAFA;
}

.details-description p {
    text-align: justify;
}

.footer .details-description {
    padding: 0;
}

.mt-6 {
    margin-top: 75px;
}

.mt-7 {
    margin-top: 100px;
}

.small-text {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container>div {
    flex: 1;
    margin: 0;
}

.table-area {
    font-size: 14px;
}

.table-area .name-column {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 4px;
}

.is-invalid {
    border-color: red !important;
}

.required_field {
    color: red;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
}

.required {
    font-size: 8px;
    color: red;
    margin-bottom: 10px;
    margin-left: 5px;
}

.link {
    text-decoration: none;
}

.small {
    font-size: 14px;
    font-weight: bold;
}

.validation-error {
    font-weight: bold;
    color: red;
    font-size: 12px;
}

@media screen and (max-width: 468px) {
    .main_area {
        margin-top: 130px;
    }

    .details-description p {
        font-size: 12px;
        padding: 0 20px
    }

    .details-description h4 {
        padding: 0 20px
    }

    .details-description hr {
        margin: 20px
    }

    .small-text {
        font-size: 12px;
    }

    .table-area {
        font-size: 10px;
    }

    .table-area .name-column {
        width: 24%;
    }

    .add-product label {
        font-size: 13px;
    }
}