.header {
    background-color: #F3F3F3;
}

.nav_items {
    font-size: 14px;
}

.search_input {
    height: 45px;
    border-radius: 50px;
}

.cart_favourite_icon {
    cursor: pointer;
}

.cart_count {
    height: 20px;
    width: 20px;
    background-color: #F29120;
    color: white;
    font-size: 14px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: -10px;
    margin-top: -10px;
}