.brand_card {
    height: 120px;
    margin: 12px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    padding: 36px;
}

.brand_card:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px 1px;
}

@media screen and (max-width: 678px) {
    .brand_image {
        height: 50px !important;
        width: 95px !important;
    }
}

@media screen and (max-width: 468px) {
    .brand_card {
        height: 80px;
        margin: 3px 5px;
        padding: 2px;
        box-shadow: none;
        border-radius: 5px;
        background-color: transparent;
    }

    .brand_image {
        height: 40px !important;
        width: 75px !important;
    }
}