.brand_card {
    height: 120px;
    margin: 13px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.brand_card:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px 1px;
}