.search_input {
    height: 45px;
    border-radius: 50px;
}

.bannerImage {
    border-radius: 10px;
    height: auto;
}

.search_area {
    background-color: #F3F3F3;
    border-radius: 5px;
}

.brand_area {
    background-color: #F3F3F3;
    padding: 16px;
    border-radius: 10px;
}

@media screen and (max-width: 468px) {
    .brand_area {
        border-radius: 5px;
    }

    .bannerImage {
        border-radius: 5px;
    }

}