.login_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('../../assets/login/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.main_area {
    width: 335px;
    padding: 24px 20px;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.animated_box {
    border: 3px solid rgb(125, 206, 125);
    transition: .3s;
}
.not_animated_box{
    border: 3px solid transparent;
    transition: .3s;
}



.main_area a {
    text-decoration: none;
    font-size: 14px;
}

.main_area hr {
    border: 1px solid black;
    width: 100%;

}

.demo_user {
    font-size: 14px;
    background-color: none;
    cursor: pointer;
}

.demo_user td {
    padding: 4px;
    text-align: center;
    transition: all 0.3s;
}

.demo_user td:hover {
    background-color: #0D6EFD;
    color: white;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 468px) {
    .demo_user {
        font-size: 13px;
    }

    .main_area {
        width: 320px;
        padding: 24px 20px;
    }

}