/* .login_area {
    background-color: #FFF9F0;
    height: 100vh;
    width: 100%;
    padding: 84px 0;
}

.main_area {
    min-height: 72vh;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image_area .image {
    border-radius: 10px 0 0 10px;
}

.form_area {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.form_area a {
    text-decoration: none;
}

.form_area hr {
    border: 1px solid black;
    width: 100%
}

@media screen and (max-width: 992px) {
    .image_area {
        display: none;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }
}

.demo_user {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.demo_user .demo_user_item {
    cursor: pointer;
    border: 1px solid rgb(234, 232, 232);
    padding: 6px 8px;
    border-radius: 4px;
    transition: all 0.3s;
    font-size: 14px;
}

.demo_user .demo_user_item:hover {
    background-color: #0D6EFD;
    color: white;
}

@media screen and (min-width: 992px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 468px) {
    .demo_user .demo_user_item {
        font-size: 13px;
    }
} */

.login_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('../../assets/login/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.main_area {
    width: 335px;
    padding: 24px 20px;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.animated_box {
    border: 3px solid green;
    transition: .3s;
}
.not_animated_box{
    border: 3px solid transparent;
    transition: .3s;
}



.main_area a {
    text-decoration: none;
    font-size: 14px;
}

.main_area hr {
    border: 1px solid black;
    width: 100%;

}

.demo_user {
    font-size: 14px;
    background-color: none;
    cursor: pointer;
}

.demo_user td {
    padding: 4px;
    text-align: center;
    transition: all 0.3s;
}

.demo_user td:hover {
    background-color: #0D6EFD;
    color: white;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 468px) {
    .demo_user {
        font-size: 13px;
    }

    .main_area {
        width: 300px;
        padding: 24px 20px;
    }

}